.header {
  font-family: Roboto;
  padding: 1%;
  background-color: rgb(4, 63, 97);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-height: 500px;
}
p {
  color: rgb(255, 255, 255);
  text-align: justify;
}

h1 {
  color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-style: oblique;
  align-self: flex-end;
}

.headercontent {
  font-family: Roboto;
  padding: 5%;
  background-color: rgb(4, 63, 97);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  max-height: 500px;
}
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 100px;
}

button {
  align-self: flex-start;
  background-color: rgb(124, 169, 228);
  border-style: none;
  font-size: 15px;
  font-style: oblique;
  padding: 5px 10px;
  border-radius: 10px;
}

logo {
  align-self: self-start;
}

.coconutpic {
  width: 600px;
  align-self: baseline;
}

.midsection1 {
  font-family: Roboto;
  padding: 1%;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#blackh1 {
  color: black;
  align-self: center;
}

.picturerow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: end;
  flex-wrap: wrap;
}

.figimg {
  border: 5px solid rgb(66, 157, 185);
  border-radius: 10px;
}

figure {
  text-align: center;
}

.midsection2 {
  font-family: Roboto;
  padding: 3%;
  background-color: rgb(216, 215, 215);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 250px;
}

#p2 {
  color: black;
  font-size: 30px;
  font-style: italic;
}

span {
  align-self: flex-end;
  font-weight: bold;
}

.bottom {
  font-family: Roboto;
  padding: 3%;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  flex-direction: column;
}

.box {
  background: #3882f6;
  width: 1200px;
  height: 200px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
}

h4 {
  color: white;
  font-size: 20px;
  align-self: start;
}

#p3 {
  font-weight: 350;
}

.button2 {
  background-color: #3882f6;
  border: 2px solid white;
  font-size: 20px;
  font-style: bold;
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
  align-self: center;
  margin-left: 10em;
}

.span2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
  margin-left: 2em;
}

.footer {
  font-family: Roboto;
  padding: 2%;
  background-color: rgb(4, 63, 97);
  height: 50px;
  text-align: center;
}
