.header {
  font-family: Roboto;
  padding: 1%;
  background-color: rgb(4, 63, 97);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-height: 500px;
}
p {
  color: rgb(255, 255, 255);
  text-align: justify;
}

h1 {
  color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-style: oblique;
  align-self: flex-end;
}

.headercontent {
  font-family: Roboto;
  padding: 5%;
  background-color: rgb(4, 63, 97);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  max-height: 500px;
}
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 100px;
}

button {
  align-self: flex-start;
  background-color: rgb(124, 169, 228);
  border-style: none;
  font-size: 15px;
  font-style: oblique;
  padding: 5px 10px;
  border-radius: 10px;
}

logo {
  align-self: self-start;
}

.coconutpic {
  width: 600px;
  align-self: baseline;
}

.midsection1 {
  font-family: Roboto;
  padding: 1%;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#blackh1 {
  color: black;
  align-self: center;
}

.picturerow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: end;
  flex-wrap: wrap;
}

.figimg {
  border: 5px solid rgb(66, 157, 185);
  border-radius: 10px;
}

figure {
  text-align: center;
}
